<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761658287629-k5ict2m1u1rgkemeifbmu9srkic1bite.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761658287629-k5ict2m1u1rgkemeifbmu9srkic1bite</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>761658287629-mj9dkea5bmaabs6mc4fgoouoffrd3cob.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYKfNEOLxLAtt6yUOfLjBShZ25wGh1VWA</string>
	<key>GCM_SENDER_ID</key>
	<string>761658287629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grebnevstudio.catchme.messenger</string>
	<key>PROJECT_ID</key>
	<string>catch-me-grebnevstudio</string>
	<key>STORAGE_BUCKET</key>
	<string>catch-me-grebnevstudio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761658287629:ios:42cc301003801ab12ad744</string>
	<key>DATABASE_URL</key>
	<string>https://catch-me-grebnevstudio.firebaseio.com</string>
</dict>
</plist>